@import "./miniCelulares.css";

/*estilos generales*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Encode Sans', sans-serif;
}

html{
    scroll-behavior: smooth ;
}

/*nav bar*/
.inactive {
    display: none;
}

.active {
    display: block;
}

.navUl{
    z-index: 1;
    position: fixed;
    top: 83px;
    right: 0px;
    list-style: none;
    width: 100%;
    height: 36%;
    text-align: center;
    letter-spacing: 5px;
    background-color: black;
}
.navLinks ul li{
    margin: 10px;
}

.navUl img{
    display: none;
}

.navUl li{
    margin: 10px;
}

.navUl li a{
    text-decoration: none;
    color: white;
}

.logoMobileContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 1;
    position: fixed;
    width: 100%;
}

.logoMobile{
    padding: 13px;
}

.logoMobile img{
    height: 70px;
}

.burguerMenu button{
    background-color: black;
    border: none;
    padding: 30px;
}

/* SECCION PRINCIPAL DULCES DEL ALMA CON IMAGEN DE FONDO */

.principal{
    position: absolute;
    top: 130px;
    text-align: center;
}

.principal a{
    background-color: #000000;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 11px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 24px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
}

.principal-text{
    color: white;
}

.principal-text p{
    margin: 0px auto;
    letter-spacing: 3px;
    padding: 10px;
    font-size: 1rem;
}

.principal h1{
    font-size: 1.1rem;
    margin: 20px;
}

.principalContainer{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMAGENES/Central/ddl.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
}
.principalContainer img{
    height: 560px;
    width: 100%;
}

.divisionProductos{
    display: flex;
    height: 85px;
    justify-content: center;
    align-items: center;
    background-color: #565151;
    color: #bf7b2c;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

/*********************Seccion CARRUSEL********************/
.carruselFotosContainer {
    display: flex;
    gap: 10px;
    overflow: auto;
    background-color: black;
}

.carruselFotosContainer a{
    border: 2px solid;
    border-radius: 2px;
    color: #bf7b2c;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 2px 10px 2px 10px;
}

.carruselFotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    
}

.carruselFotos img{
    border: 3px solid black;
    height: 440px;
    width: 313px;
}

/*************Seccion Alfajor **************/

.alfajorContainer {
    background-color: #d5ac8c;
    margin-bottom: -20px;
}

.envoltorioAlfajor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.alfajorButton{
    display: flex;
    justify-content: center;
}

.alfajorInfoBtn{
    border: 2px solid;
    border-radius: 2px;
    color: rgb(191, 123, 44);
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 2px 20px;
}

.alfajorImg{
    display: flex;
    justify-content: center;
    padding: 40px 0px 20px 7px;
}

.alfajorImg img{
    height: 220px;
}

.alfajorButtonDesktop{
    display: none;
}

/*******************Seccion Calidad*******************/

.calidad{
    background-color: #1e1d1ded;
    margin-bottom: -20px;
}

.calidad h2{
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.calidadContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    line-height: 10px;
    margin: 20px;
}

.calidadContainer p{
    color: rgb(191, 123, 44);
    margin: 20px;
    font-size: 20px;
}

.calidad img{
    height: 130px;
    width: 130px;
}

/******************Seccion Contactos********************/
.contactoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactoForm p{
    display: flex;
    flex-direction: column;
    width: 100%;
}  

.imagenContacto img{
    display: none;
}

.envoltorioForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.envoltorioForm h3 {
    font-size: 16px;
    width: 70%;
    text-align: initial;
    padding: 20px 0px 20px 0px;
    color: rgb(129 75 53);
}

.contactoContainer form {
    width: 70%;
}

.envoltorioForm label {
    padding-bottom: 10px;
    color: rgb(149 126 101);
}

.envoltorioForm button {
    border: 3px solid rgb(133, 108, 79);
    background: transparent;
    color: rgb(133, 108, 79);
    width: 100px;
    font-weight: bold;
}

.btn-P{
    align-items: center;
}

.contactoForm textarea {
    height: 80px;
}

input, textarea {
    background-color: rgb(133, 108, 79);
    border: 3px solid rgb(133, 108, 79);
    color: #1e1d1ded;
}

::placeholder{
    color: white;
}

/*****************Seccion Recetas*****************/
.Recetas{
    background-color: #1e1d1ded;
    margin-top: -20px;
}

.container-card{
	width: 50%;
	display: flex;
    align-items: center;
    flex-direction: column;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding-top: 20px;
	margin-top: 20px;
	text-align: center;
	color: white;
}

.title-cards h2{
    font-weight: bold;
}

.card{
	width: 90%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #d5ac8c;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card img{
	width: 100%;
    height: 136px;
}
.card .contenido-card{
	padding: 0px;
	text-align: center;
}
.card .contenido-card h3{
	margin: 8px 8px;
	color: rgb(133, 108, 79);
}
.card .contenido-card p{
	color: white;
	font-size: 12px;
	margin-bottom: 12px;
}
.card .contenido-card a{
	display: inline-block;
    padding: 6px;
    margin-top: 4px;
    text-decoration: none;
    color: rgb(133, 108, 79);
    border: 2px solid rgb(133, 108, 79);
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    background: transparent;
    font-size: 13px;
}

figure{ 
    margin: 0px;
}

footer{
    background-color: #171616;
}

.envoltorioFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.envoltorioFooter div{
    display: block;
    text-align: center;
}

.envoltorioFooter ul{
    list-style: none;
    padding: 0px;
} 

.envoltorioFooter ul li a{
    text-decoration: none;
}

.envoltorioFooter i{
    font-size: 25px;
    padding: 5px;
}

.envoltorioFooter h4{
    color: rgb(133, 108, 79);
    margin: 6px;
}

.envoltorioFooter a{
    color: white;
    font-weight: bold;
}

.logoFooter {
    display: block;
    justify-content: center !important;
    align-items: center !important;
    margin: 20px;
}

.redesFooter li{
    text-align: center;
}

.redesFooterUL{
    display: flex;
    flex-direction: row ;
}

.footerUL li{
    padding: 5px 0px 5px 0px;
}

.iFrame h5{
    color: white;
    margin: 2px;
}

.iFrame {
    flex-direction: column !important;
}

.envoltorioFooter a:hover{
    color: rgb(133, 108, 79);
}

iframe{
    margin: 2px 0px 20px 0px;
}

/*mensajes en el formulario*/
/* .alertas{ 
    width: auto;
    text-align: initial;
    margin: 0px;
    color: rgb(255, 0, 0);
    padding: 0px;
  } */


